.banner .container{
    position: relative;
}
.banner .pic img{
    object-position: 55% 80%;
}
.banner .container .txt{
    max-width: 300px;
    max-height: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}
.banner .container .txt p:nth-child(1){
    letter-spacing: 10px;
    font-size: 200%;
}
.banner .container .txt p:nth-child(2){
    font-size: 18px;
    width: 140px;
    margin-top: 5px;
    margin-right: auto;
    /* background-color: #aff; */
}
.banner .container .txt p:nth-child(3){
    font-size: 18px;
    width: 220px;
    text-align: left;
    /* margin-top: 5px; */
    /* background-color: #aff; */
    margin-left: auto;
}
.banner .container:before{
    content: "";
    max-width: 300px;
    max-height: 300px;
    background-color: rgba(214, 172, 109, 0.658);
    /* background-color: var(--color); */
    border-radius: 60% 40% 53% 47% / 44% 44% 56% 56%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: rotate 10s linear infinite;
}
.about_us .container{
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    max-height: 786px;
}








@media screen  and (min-width:769px){
    .main-nav li:nth-child(2) a::after{
        top: -18px;
    }
}