.banner .container{
    position: relative;
}
.banner .container .txt{
    max-width: 300px;
    max-height: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}
.banner .container .txt p:nth-child(1){
    letter-spacing: 10px;
    font-size: 200%;
}
.banner .container .txt p:nth-child(2){
    font-size: 18px;
    width: 120px;
    text-align: end;
    margin-top: 5px;
    margin-right: auto;
    /* background-color: #aff; */
}
.banner .container .txt p:nth-child(3){
    font-size: 18px;
    width: 250px;
    margin-top: 5px;
    /* background-color: #aff; */
    margin-left: auto;
}
.banner .container:before{
    content: "";
    max-width: 300px;
    max-height: 300px;
    background-color: rgba(214, 172, 109, 0.658);
    border-radius: 60% 40% 53% 47% / 44% 44% 56% 56%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: rotate 10s linear infinite;
}
.banner .container:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(214, 175, 117);
    clip-path: polygon(0 13%, 100% 0, 100% 89%, 0 39%);
    position: absolute;
}
.banner .pic img{
    object-position: 36% 60%;
}
.contact_us{
    position: relative;
}
.contact_us::after{
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 13%, 100% 40%, 100% 100%, 0 100%);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: rgba(219, 162, 88, 0.699);
}
.contact_us .container{
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.contact_us .container::after{
    content: "";
    width: 100%;
    height: 50%;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 0 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(184, 133, 67, 0.699);
}
.contact_us .container::before{
    content: "";
    width: 100%;
    height: 50%;
    clip-path: polygon(0 67%, 100% 41%, 100% 93%, 0 87%);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: rgba(158, 161, 106, 0.699);
}
.contact_us .card{
    max-width: 1200px;
    margin: auto;
    padding: 20px;  
    position: relative;
}
.contact_us .card p:nth-child(1){
    font-size: 28px;
    letter-spacing: 9px;
    margin-bottom: 20px;
    font-weight: 800;
    position: relative;
}
.contact_us .card p:nth-child(1):after{
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgb(124, 66, 0),rgb(177, 139, 84) );
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact_us .card p:not(p:nth-child(1)){
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 6px;
    text-shadow: rgb(112, 73, 1) 1px 1px 3px;
}
.contact_us .txt{
    max-width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(201, 182, 119);
    box-shadow: 1px 1px 5px 0px rgba(63, 44, 7, 0.89);
}
.contact_us .txt p{
    margin-bottom: 20px;
}
.contact_us .txt p:nth-child(3) input{
    width: 100%;
}
.contact_us .txt label{
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
}
.contact_us .txt input{
    width: 51%;
    font-size: 20px;
    color: black;
    padding: 6px;
    letter-spacing: 3px;
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}
.contact_us .txt input:focus{
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px 0px rgba(77, 50, 19, 0.678);
}
.contact_us .txt textarea{
    outline: none;
    border: none;
    resize: none;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 6px;
    width: 100%;
    height: 300px;
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}
.contact_us .txt textarea:focus{
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px 0px rgba(77, 50, 19, 0.678);
}
.contact_us .txt p:nth-child(5){
    text-align: center;
    position: relative;
    z-index: 0;
}
.contact_us .txt button{
    width: 150px;
    font-size: 20px;
    line-height: 40px;
    border: none;
    color: black;
    border: 1px solid wheat; 
    background-color: rgb(177, 190, 128);
}
.contact_us .txt button:active{
    background-color: rgb(120, 145, 82);
}



@media screen  and (min-width:769px){
    .main-nav li:nth-child(5) a::after{
        top: -18px;
    }
}