.about_us .material{
    max-width: 1200px;
    margin: auto;
    font-size: 0;
    position: relative;
}
.about_us .material li{
    display: inline-block;
    width: 25%;
}
.about_us .material li img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: center;
}
