/* .news_page .container{
   
} */
.news_page .container{
    max-width: 1200px;
    margin: auto;
}
.news_page ul li{
    display: flex;
    justify-content: center;
}
.news_page .pic{
    flex: 0 1 600px;
    overflow: hidden;
}
.news_page .pic img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;

}
.news_page .txt{
    flex: 0 1 300px;
}



.news_page ul li:nth-child(2n+1) .pic{
    clip-path: polygon(0 0, 70% 0%,80% 100%, 0% 100%);
}
.news_page ul li:nth-child(2n) .pic{
    order: 1;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 20% 100%);
}